/* Universal selectors */
/* *{
    margin: 0;
    padding: 0;
} */
body{
    font-family: 'Work Sans', sans-serif;    
}
.gray{
    color: #424242;
    font-size: 16px;
}
.light-gray{
    font-size: 2.8rem;
    color: #727272;
    font-weight: 500;
}
.orange{
    color: #FF900E;
}
.h3-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}
.light-gray{
    color: #727272;
}
.btn-primary{
    padding: 20px 25px;
    color: white;
    background-color: #FF900E;
    font-size: 1.25rem;
    border: 0;
    border-radius: 8px;
}

/* Header Style Started */
.header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
    margin-bottom: 50px;
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-right ul{
    display: flex;
    
}
.header-right li{
    list-style: none;
    font-weight: 500;
    font-size: 1rem;
    margin-right: 30px;
}
li a{
    text-decoration: none;
    color: #222121;
    font-weight: 500;
}

/* Banner Section Style */

.banner-text{
    text-align: center;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
.banner-text p{
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.banner-img img{
    width: 100%;
    margin-top: 20px;
}

/* Feature style */

.features{
    display: flex;
    align-items: center;
}
.team{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}
.team img{
    width: 342px;
}
.team-text{
    margin-left: 75px;
    margin-right: 50px;
}
.team-text h2{
    font-size: 2.8rem;
    font-weight: 700;
}

/* Architecture section style */
.architecture{
    display: flex;
    align-items: center;
    margin-top: 120px;
    /* width: 435px; */
}
.architecture-text {
    width: 435px;
}
.architecture-text h3{
    border-left: 6px solid #FF900E;
    padding-left: 20px;
  
}
.architecture-text p{
    width: 100%;
}
.architecture-text .cards{
    padding: 30px;
    
}
.architecture-text .card{
    margin-bottom: 40px;
    width:90%;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding:30px 30px;
}
.architecture-img img{
    width: 90%;
    margin-left: 180px;
    
}
.ten-years-badge{
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    width: 340px;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 100px;
    margin-left: 100px;
}
.ten-years-badge h2{
    font-size: 4rem;
    margin: 0;
}
.ten-years-badge p{
    font-size: 1.5rem;
}

/* Facts section style */

.facts-text .cards{
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.facts-text .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
}
.facts-text h3{
    margin-top: 10px;
    margin-bottom: 10px;
}
.facts-text .card p{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 5px;
    color: #727272;
}

/* Sponsor section style */

.sponsors{
    text-align: center;
    width: 90%;
    margin: 0 auto;
}
.sponsor-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Footer section style */

.footer{
    margin-top: 80px;
    text-align: center;
    background-color: #222121;
    color: #b6b1b1;
    padding: 40px;
}







/* Respondive for mobileand smaller device */
@media screen and (max-width: 576px) {
    .header{
        padding: 20px;
    }
    .features,
    nav,
    .architecture,
    .facts-text .cards,
    .sponsor-icons
    {
        flex-direction: column;
    }
    .team{
        grid-template-columns: repeat(1, 1fr);
    }
    .team-text{
        margin: 10px 0;
        padding: 20px;
    }
    .architecture-text,
    .card,
    .architecture-img{
        width: 100%;
    }
    .cards{
        padding: 10px;
    }
    .card{
        margin-left: -15px;
    }
    .architecture-text{
        width: 100%;
    }
    .architecture-img img{
        margin-left: 20px;
        width: 90%;
    }
    .ten-years-badge{
        position: relative;
        bottom: 0;
        width: 70%;
        margin-left: 20px;
        margin-top: 20px;
    }
    .facts-text .cards{
        width: 90%;
        
    }
    .facts-text .card{
        width: 85%;
        margin: auto;
        margin-bottom: 20px;
    }
    .sponsor-icons,
    .footer{
        width: 100%;
    }
    .sponsor-icons img{
        margin-bottom: 20px;
    }
    .footer{
        padding: 20px;
        margin: auto;
    }
   
}

/* Responsive for tab or medium device */
@media screen and (min-width:576px) and (max-width:960px) {
    .header{
        padding: 20px;
    }
    .features,
    nav,
    .architecture,
    .facts-text .cards,
    .sponsor-icons
    {
        flex-direction: column;
    }
    .architecture-img img{
        width: 100%;
    }
    .team img{
        width: 100%;
    }
    .team-text{
        margin: 10px 0;
        padding: 20px;
    }
    .architecture-text,
    .card,
    .architecture-img{
        width: 100%;
    }
    .cards{
        padding: 10px;
    }
    .card{
        margin-left: 0px;
    }
    .architecture-text{
        width: 100%;
    }
    .architecture-img img{
        margin-left: 40px;
        width: 90%;
        margin-bottom: 20px;
    }
    .ten-years-badge{
        position: relative;
        bottom: 0;
        width: 70%;
        margin: 0 auto;
    }
    .facts-text .cards{
        width: 90%;
        
    }
    .facts-text .card{
        width: 100%;
        margin: auto;
        margin-bottom: 20px;
        
    }
    .sponsor-icons,
    .footer{
        width: 100%;
    }
    .sponsor-icons img{
        margin-bottom: 30px;
    }
    .footer{
        padding: 30px;
        margin: auto;
    }
}



